{% extends 'base.html.twig' %}

{% block title %}Modification de ma liste{% endblock %}

{% block body %}
    <h1>Modifier ma liste</h1>

    {{ include('to_do_list/_form.html.twig', {'button_label': 'Update'}) }}

    {{ include('to_do_list/_delete_form.html.twig') }}
{% endblock %}
